php:
    date.timezone: Europe/Prague

nette:
    container:
        debugger: TRUE

extensions:
    fioExtension: h4kuna\Fio\Nette\DI\FioExtension

fioExtension:
	accounts:
		fio1:
			account: 11111111/1234
			token: foooof
		fio2:
			account: 22222222/1234
			token: barrab